<main class="main">
  <div class="content">
    <img
      id="hps-logo"
      src="/assets/logo-hps.png"
      alt=""
      width="150px"
      height="50px"
    />

    <div id="map">

    </div>

    <footer>
      By Gabriel Pereira
      <div class="links">
        <a href="https://www.linkedin.com/in/gabriel-santana0/">LinkedIn</a> |
        <a href="https://github.com/gapesasi">Github</a> |
        <a href="mailto:gabrielpe1928@gmail.com">Email</a>
      </div>
    </footer>
  </div>
</main>

<router-outlet />
